@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please log in or browse our stuff as a guest in order to continue</p>
    <a asp-area="" asp-controller="Home" asp-action="Login">Log in</a> <br />
    <a asp-area="" asp-controller="Home" asp-action="Register">Register</a> <br />
    <a asp-area="" asp-controller="Home" asp-action="MarketList">Browse as guest</a> <br />
</div>
