@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <p class="display-4">Please enter credentials</p>
    <input placeholder="Username"></input><br />
    <input placeholder="Password"></input><br />
    <a asp-area="" asp-controller="Login" asp-action="Login">Log in</a>
</div>
